{% extends 'base.html' %} 

{% load i18n static %} 

{% block extrahead %}
<link rel="stylesheet" href="{% get_static_prefix %}css/o.css" />
<script type="text/javascript" src="{% get_static_prefix %}js/o.js"></script>
{% endblock %} 

{% block pagelabel %}
<span class="o">{% trans "O!" %}</span>
{% endblock %} 

{% block title %}{% trans "O!" %}{% endblock %} 

{% block content %}{% spaceless %}
<div class="status">
	<a href="javascript:void(0)" id="pessimus"
		class="pessimus show_content"></a> <a href="javascript:void(0)"
		id="realis" class="realis active show_content"></a> <a
		href="javascript:void(0)" id="optimus" class="optimus show_content"></a>
</div>
<div style="display: none;" id="pessimus_content">
	<p>Здравствуйте.</p>
	<p>Огромное вам спасибо что зашли на еще один бесполезный сайт, не
		думаю, что стоит тратить ваше ценное время на эту бездарную работу, и
		если у вас есть дела поважнее, самое время заняться ими.</p>
	<p>Если вы все-таки читаете дальше, чего лично я бы вам не
		рекомендовал, тогда постараюсь поведать зачем создавался этот
		убыточный сайт, и зачем бесполезно было потрачено время. Во-первых,
		автор предполагал что сайт даст непонятное призрачное развитие, после
		создания которого и написания десятка унылых статей, автор станет гуру
		интернета, и познает тонкости многих технологий, не правда ли глупо и
		смешно? Во вторых, автор думал что написав эти бессмысленные статьи он
		найдет людей которые его тоже чему-то научат, ну вот скажите, кому
		нужны такие статьи и идеи, в жизни и так уже все придумано и написано,
		нам вполне достаточно использовать и думать только о том что в тренде,
		потому как это популярно, выгодно и технологично, создание своего
		сайта, это с самого начала глупая, невыгодная и не популярная идея,
		есть же много других ресурсов на которых можно выложить свои убогие
		мысли, а создавать для этого отдельный сайт, это в корне глупо и
		необдуманно.</p>
	<p>Что касается самого сайта, это какой-то невнятный,
		нетехнологичный плевок в сторону веб разработчиков. Все очень просто,
		непродуманно, грубо и т.д. Первый раз взглянув на сайт, сразу же
		думаешь: "Да я ж такой сайт сделаю за 1 день, а сайт в 100500 раз
		лучше за 3 дня", и вы будете абсолютно, повторюсь, абсолютно правы.
		Знания автора мизерны, пытаясь описывать какой-то опыт в своих
		статьях, невооруженным взглядом виден непрофессионализм который и
		вылился в это подобие интернет странички. Очень жаль, что в русском
		языке так мало слов которые могут выразить бездарность, бесполезность,
		убогость, убыточность, глупость и ненужность этого "творения".</p>
	<p>Тяжело вздыхая, что хотелось бы написать напоследок, уходите от
		сюда, бежите куда-либо по дальше, очистите историю браузера, что бы
		этот адрес у вас случайно не всплыл, вам не нужен в браузере еще один
		"умный" блог еще одного "умного" автора. В жизни есть намного более
		нужные вещи, такие как гуглоплюс, твиттер, вконтакт, фейсбук и много-много 
		другого, которые наполняют жизнь смыслом, а этот сайт в вашей
		душе оставит одну пустоту. Автор искренне сожалеет за проделанную
		работу, и за то что вы сюда ненароком попали, и если вы хотите
		отомстить автору за моральный ущерб вашей тонкой души, вот его
		координаты для гневных отзывов, к тому же собравшись в некий клуб
		ненависти у вас будет возможность заспамить его, держите:</p>
	<ul>
		<li>Email: <a target="_blank" href="mailto:vetalyi@gmail.com">vetalyi@gmail.com</a></li>
		<li>Skype: <a target="_blank" href="skype:vetaly_tedor">vetaly_tedor</a></li>		
		<li>Twitter: <a target="_blank" href="https://twitter.com/tedorinet">tedorinet</a></li>	
		<li><a target="_blank" href="https://plus.google.com/u/0/118343358925296206544">Google+</a></li>
		<li><a target="_blank" href="http://vk.com/id6367807">Вконтактик</a></li>
		<li><a target="_blank" href="http://www.facebook.com/profile.php?id=100000118898995">Facebook</a></li>
	</ul>
</div>
<div id="realis_content">
	<p>Добрый день.</p>
	<p>Спасибо что зашли на мой сайт, также спасибо за проявленный
		интерес. Этот сайт был создан для собственного развития, а именно для
		записи проделанной работы, обзора каких-либо технологий, передачи
		полученного опыта и прочего. Тематика сайта предположительно будет
		"обо всем по-немногу", скорее всего удар будет на
		техническо-компьютерные тематики, такие как разработка, железо,
		фотография, программирование, но по возможности будут затронуты
		философские и оффлайн темы.</p>
	<p>Теперь немного о себе: как и все люблю машины, очень нравится
		куда-то ездить, в связи с чем на выходных, если есть хорошая погода,
		стараюсь ездить за город, подальше от людей и городского шума, люблю
		фотографировать, больше нравится фотографировать природу, животных,
		людей фотографировать не нравится, когда-то давно основное хобби было
		радиоелектроника, сейчас же люблю читать статьи на эту тематику, и все
		больше появляется желание заняться ею, в первую очередь
		микроконтроллерами, стоит так же упомянуть пивоварение, в последний
		год серьезно им увлекся, и получил неплохой опыт. Что касается отдыха,
		в последнее время предпочительнее зимний отдых, такой как катание на
		лыжах и гуляние по заснеженным горам, в летнее же время больше
		нравится ездить палатками и уединяться с природой.</p>
	<p>Онлайн увелечения хотелось бы вывести отдельным пунктом,
		поскольку этот сайт так же одно из увлечений. Итак, я занимаюсь
		разработкой веб приложений, все что связано с программированием
		сайтов, исходя из этого, считаю что человек который делает сайты,
		обязан иметь свой сайт, иначе в плане развития он будет топтаться на
		месте. Что касается самого программирования, то это довольно обширная
		тема, которая включает в себя много сторон, языков, подходов, идей,
		взглядов, мнений - вот именно о них и хотелось бы написать. Это такая
		себе возможность взглянуть на себя со стороны, со стороны тех кто так
		же будет читать этот сайт, что в результате даст видение и понимание
		того по какой дороге идти дальше.</p>
	<p>Теперь о формате и об ИМХО. Любой авторский сайт сразу говорит
		вам о том что это отдельная площадка, на которой много ИМХО, прочитав
		абзацы выше, больше половины читателей уже не будут согласны с такими
		взглядами, и это хорошо, значит будет о чем поговорить, поэтому если
		возникли вопросы или несогласия вы смело можете писать мне любым
		доступным способом, потому как любое собственное мнение имеет очень
		высокую ценность.</p>
	<p>Кажись все, если будут вопросы или предложения, или же если
		захотите со мной связаться по любым другим вопросам, вот координаты:</p>
	<ul>
		<li>Email: <a target="_blank" href="mailto:vetalyi@gmail.com">vetalyi@gmail.com</a></li>
		<li>Skype: <a target="_blank" href="skype:vetaly_tedor">vetaly_tedor</a></li>		
		<li>Twitter: <a target="_blank" href="https://twitter.com/tedorinet">tedorinet</a></li>	
		<li><a target="_blank" href="https://plus.google.com/u/0/118343358925296206544">Google+</a></li>
		<li><a target="_blank" href="http://vk.com/id6367807">Вконтактик</a></li>
		<li><a target="_blank" href="http://www.facebook.com/profile.php?id=100000118898995">Facebook</a></li>		
	</ul>
</div>
<div style="display: none;" id="optimus_content">
	<p>Здарова.</p>
	<p>Приветствую тебя на сайте который только начинает продвигаться
		на планете которая называется Змея, а нет кажись Земля, в принципе не
		важно как называется твоя планетка, важно то что у тебя появилась хоть
		какая-то возможность прикоснуться к чему-то прекрасному.</p>
	<p>Итак что касается моей платформы, это некий мега
		портал-блог-девелопмент-соц.сеть, не думаю что ты поймешь но все же
		напишу пару строк о моей разработке. Создавая проект, я пытался
		создать нечто принципиально новое, технологичное и продвинутое. Смотря
		на мою разработку, сразу обращаешь внимание на многолетний опыт за
		спиной и с какими масштабными технологиями приходилось работать. Что
		касается дизайна, то сразу бросается в глаза продуманность и новизна
		интерфейса, в котором каждый пиксель изображения излучает доброту и
		заботу в невидимом для сознания спектре, это обьясняет ваше чуство
		защищенности и раслабленности глядя на сайт. Есть много технологий
		которые имеют уникальные возможности, и применены только на этом
		сайте, некоторые из них не имеют аналогов и полностью авторская
		работа. В принципе хватит технологической стороны моей платформы, на
		описание которой необходимо много времени, из чего ты поймеш максимум
		1% в лучшем случае.</p>
	<p>Идем дальше, то что я пишу это полностью уникальный и
		независимый контент, хотелось бы обратить твое внимание на грамотность
		и очень правильный подход к написанию, читая статьи сразу понимаешь,
		что никакого ИМХО не существует, и есть только одно правильное мнение,
		мое мнение. Даже если появляется некий протест, типа того что твое
		мнение и взгляд правильнее, через время, когда начинаешь думать, до
		тебя доходит, что ты ошибался и что автор был прав. Спорить можно
		долго, но время поставит все на свои места, тебе просто нужно больше времени.</p>
	<p>Я не хочу себя долго утруждать описанием своих увлечений,
		качеств и других сторон творческой личности, их настолько много, что
		просто лень писать, но тебе не стоит растраиваться, я все-таки оставлю
		свои контактные данные и возможно ты будешь тем одним из тысячи,
		которому удастся со мной пообщаться, на которого я выделю максимум 5
		минут, поэтому если хочешь со мной поговорить, готовься, советую
		записать возможный диалог на листочек, что бы не было пауз в нашем
		разговоре, и ты попусту не тратил мое время. Вот мои контакты, но
		предупреждаю подумай >9000 раз чем что-то написать:</p>
	<ul>
		<li>Email: <a target="_blank" href="mailto:vetalyi@gmail.com">vetalyi@gmail.com</a></li>
		<li>Skype: <a target="_blank" href="skype:vetaly_tedor">vetaly_tedor</a></li>		
		<li>Twitter: <a target="_blank" href="https://twitter.com/tedorinet">tedorinet</a></li>	
		<li><a target="_blank" href="https://plus.google.com/u/0/118343358925296206544">Google+</a></li>
		<li><a target="_blank" href="http://vk.com/id6367807">Вконтактик</a></li>
		<li><a target="_blank" href="http://www.facebook.com/profile.php?id=100000118898995">Facebook</a></li>		
	</ul>
</div>
<div class="ad-section">
	<a href="http://www.freebsd.org/"><img
		src="{% get_static_prefix %}img/ad/freebsd.png"
		alt="Served by freebsd." title="Served by freebsd." /></a> <a
		href="http://www.djangoproject.com/"><img
		src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif"
		alt="Powered by Django." title="Powered by Django." /></a>
</div>
{% endspaceless %}{% endblock %} 

{% block footer_content %}
<div id="footer" class="o">
	<div class="image">
		<p>{{ data_random_content }}</p>
	</div>
	<div class="prev">
		<a class="blog" href="{% url blog_page %}">{% trans "Blog" %}</a>
	</div>
	<div class="copy">{% trans "All right reserved."%}</div>
</div>
{% endblock %}
