{% extends 'base.html' %}
{% load i18n static %}

{% block extrahead %}<link rel="stylesheet" href="{% get_static_prefix %}css/labs.css" />{% endblock %}

{% block pagelabel %}<span class="lab">{% trans "Developers" %}</span>{% endblock %}

{% block title %}{% trans "Developers" %}{% endblock %}

{% block content %}
{% spaceless %}
	<p class="center">Здравствуй %developer%</p>
	<p>		
		Если ты зашел сюда, значит ты знаешь о существовании html кода, и нам есть о чем поговорить. 
		Скорее всего попал ты в html код не случайно, а чтобы проверить на сколько валидная верстка, 
		так вот, блоки есть, в3ц валид есть, так что там все норм.
		Мне больше интересен проявленный интерес. Есть интерес, есть разговор.
	</p>    
	<p>
		Итак, если ты удачный программист, если у тебя большая зарплата и ты успешен, 
		если твоя жизнь течет ровно и гладко, твой кредитный "Форд Фокус" не ломается и кредит платится вовремя,
		твои цели в жизни - поднятие и увеличение собственного капитала, и ты хочешь заработать здесь и прямо сейчас 
		ты попал не по адресу, иди дальше коси свое бабло, нам разговаривать не о чем.
	</p>
	<p>
		Мне интересны люди которые могут чему-то научить, и которым интересен мой опыт, 
		у которых есть грамотные мысли, идеи, проекты, планы, да что-либо в плоть до того что тупо потрындеть,
		обращайтесь, всегда буду вам рад. Так же открыт к совместной работе над каким-то проектом, приветствуются сложные и интересные задачи,
		в общем ищу людей которые имеют разносторонний опыт, для развития и обучения.
	</p>
	<p>
		Сайт был создан именно для этого, для записи собственного опыта, 
		что в результате дает порядок мыслей и последовательность идей, в свою очередь
		люди заходя на сайт, могу тебя чему-то научить, где-то поправить, 
		где-то сказать что ты не прав или направить на правильный путь, в итоге выигрывают все. 
	</p>
	<p>
		Поэтому если вы творческая личность, и хотите учиться или сделать что-то интересное, 
		можете со мной связаться для дальнейшего совмесного обучения и развития. 
	</p>
	<p>
		Теперь давайте спрыгнем с облака и поговорим о конкретике. 
		Я занимаюсь разработкой сайтов, с опытом програмирования 100500 лет, умею колдовать на таких языках:
	</p>
	<ul>
		<li>Все что касается вэба, это: php, css, html, javascript. Так сказать базовые навыки</li>
		<li>Умею работать с базами MySQL и Postgre, знаю магию SQL, так же был опыт работы с NoSQL базой, а именно MongoDB</li>
		<li>Есть достаточный опыт работы с Flash со всеми вытекающими, такими как AIR и Flex фреймворками</li>
		<li>В последнее время попадается работа на Java, опыт не большой но все же есть</li>
		<li>Есть знание и понимаение ОС таких как Linux и Freebsd, этот сайт и домашный сервер крутится на Freebsd</li>
		<li>Есть небольшой опыт работы с графическими 2d и 3d редакторами, иногда пробивает рисовать сайты</li>
		<li>Есть базовые знания Python</li>
	</ul>
	<p>
		Думаю достаточно. Хочется сразу сделать небольшую сноску по поводу этого списка "знаний & умений", 
		этот список писался для разработчиков а не для работодателей, из чего следует что он короткий. 
		Согласитесь, что ненадо писать, допустим, в первом пункте типа:
		php, cackephp, yui, wordpress, drupal, zend, symfony, css, xml, xslt, jquery, javascript и т.д. 
		потому что это нужно на всяких там фриланс порталах,
		что бы мылить глаза работодателям, мы все тут разработчики и прекрасно понимаем, 
		что если программер говорит: "Шпилю на флеш" то понятное дело, что он работал с большим количеством библиотек, 
		технологий и может за несколько минут "выучить" любую библиотеку глянув в апи,
		если программер говорит: "Знаю ОС Linux & Freebsd" то это не значит что он шарит запускать сапера в этих ваших ИКСах, 
		а значит что он умеет писать скрипты, работать с консолью, цеплять девочек, ставить и конфигурить разные сервера, приложения, базы. 
		Тоесть прошу вас понимать этот список как дороги по которым приходилось ходить, а уже какие были на них приключения
		и интересные истории, милости прошу пообщатся лично.
	</p>
	<p>
		Из выше сказанного становится понятно, что:
	</p>
	<ul>
		<li>имею навыки програмирования</li>
		<li>приходилось работать с разными технологиями и языками</li>
		<li>женат</li>
		<li>есть понимание о разных подходах программирования таких как клиенсткая и серверная часть</li>
		<li>есть желание сделать проект который перевернет мир</li>
		<li>php и интим не предлагать</li>
	</ul>
	<p>
		На ближайшее будущее сильно хотелось бы поучаствовать в разработке на Python, 
		более плотно пощупать фреймворки этого языка, такие как: Django и Tornado.
		Хочу понять реальность разработки на этом языке и насколько он интересен. 
		Вообще в принципе интересна разработка в юникс среде не на php, поэтому еси че пишите.
	</p>
	<p>
		Надеюсь идея этого раздела всем ясна, поэтому все что мне осталось это оставить свои координаты:
	</p>
	<ul>
		<li>Email: <a target="_blank" href="mailto:vetalyi@gmail.com">vetalyi@gmail.com</a></li>
		<li>Skype: <a target="_blank" href="skype:vetaly_tedor">vetaly_tedor</a></li>		
		<li>Twitter: <a target="_blank" href="https://twitter.com/tedorinet">tedorinet</a></li>	
		<li><a target="_blank" href="https://plus.google.com/u/0/118343358925296206544">Google+</a></li>
		<li><a target="_blank" href="http://vk.com/id6367807">Вконтактик</a></li>
		<li><a target="_blank" href="http://www.facebook.com/profile.php?id=100000118898995">Facebook</a></li>		
	</ul>
{% endspaceless %}
{% endblock %}

{% block footer_content %}
	<div id="footer" class="labs">
		<div class="image">
			<p>{{ data_random_content }}</p>
		</div>	
		<div class="prev"><a class="blog" href="{% url home_page %}">{% trans "Home" %}</a></div>	
		<div class="next"><a class="blog" href="{% url home_page %}">{% trans "Home" %}</a></div>	
		<div class="copy">{% trans "All right reserved."%}</div>
	</div>
{% endblock %}