html, body {
	height: 100%;
}

body {
	background: #ffffff;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, serif;
}

img {
	border: 0;
}

button, input[type=submit] {
	color: #ffffff;
	background-color: #000000;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	min-width: 100px;
}

a {
	text-decoration: none;
	color: #3377FF;
	outline: 0;
}

a:active {
	outline: none;
}

a:focus{
	-moz-outline-style: none;
}

a:hover {
	text-decoration: underline;
}

.clear {
    clear: both;
}

ul li {
	list-style-image: url("/static/img/round.png");
}

#content, #head, #footer .image, #page_label, #error_img {
	text-align: left;
	margin: 0px auto;
	width: 1000px;
}

#wrap {
	min-height: 100%;
}

p.error, #content p.error {
	background-color: #FF6666;
	padding:10px;
}

p.success, #content p.success  {	
	background-color: #66FF66;
	padding:10px;
}

p.tnx, #content p.tnx {
	text-align: center;
}

/*---------------------------- HEAD ----------------------------*/
#head {
	background: url("/static/img/head.png") no-repeat 0 bottom;
	height: 75px;
	border-bottom: #000000 10px solid;
}

#head ul{
	margin: 0px;
	position:relative;
	left:100px;
	top:15px;
}

#head ul li{
	float: left;
	margin-left: 28px;
	font-weight: bold;
	font-size: 18px;
}

#head ul a:hover, .title a, #footer a {
	text-decoration: none;
}

a.home:hover, a.home.selected, a.home span {
	color:#FFCC33;
}

a.blog:hover, a.blog.selected, a.blog span, .title span {
	color:#6699FF;
}

a.lab:hover, a.lab.selected, a.lab span {
	color:#00CC00;
}

a.weather:hover, a.weather.selected, a.weather span {
	color:#428bca;
}

a.o:hover, a.o.selected, a.o span {
	color:#CC9900;
}

a.home, a.blog, a.lab, a.o, a.weather {
	color: #000000;
}

/*---------------------------- PAGE LABEL ----------------------------*/
#page_label {
}

#page_label span {	
	background-color: #000000;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	padding: 4px 10px;
	min-width: 80px;
	display: inline-block;
}

#page_label span.home {
	background-color: #FFCC33;
	color: #000000;	
}

#page_label span.blog {
	background-color: #6699FF;
	color: #ffffff;	
}

#page_label span.o {
	background-color: #CC9900;
	color: #ffffff;	
}

#page_label span.e404 {
	background-color: #ff0000;
	color: #ffffff;	
}

#page_label span.lab {
	background-color: #00CC00;
	color: #ffffff;	
}

/*---------------------------- CONTENT ----------------------------*/
#content {
	width: 940px;
	font-size: 14px;
	line-height: 155%;
}

#content p.center {
	text-align: center;
}

#content p a img {
	border: 10px solid #000000;
}

#content p a img.load {
	border: 10px solid #6699FF;
}

#content h1 {
	font-size: 18px;
	border-bottom: 1px dashed #CCCCCC;
}

#content h2 {
	font-size: 14px;
	border-bottom: 1px dashed #CCCCCC;
}

#content p, #content ul {
	margin: 10px 0px;
	text-align: justify;
}

#content p.title {
	margin-top: 30px;
}

.title {
	font-weight: bold;
	font-size: 18px;
	margin: 30px 0px 0px 0px;	
}

.cut_home {
	padding: 0px 0px 0px 15px;
	margin-bottom: 30px;
	text-align: justify;
}

/*---------------------------- VERTICAL ALIGN ----------------------------*/
#content {
	padding-bottom: 250px;
}

#footer {
    clear: both;
    height: 182px;
    margin-top: -202px;
    position: relative;
}

/*---------------------------- FOOTER ----------------------------*/
#footer {
	text-align: center;
	font-size: 12px;
}

#footer .copy {
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	padding: 10px;
	height: 18px;
	font-size: 11px;
}

#footer.home .image, #footer .image {	
	color: #000000;
	background: url("/static/img/footer_home.png") no-repeat 0 bottom;
	height: 164px;
}

#footer.blog .image {	
	color: #000000;
	background: url("/static/img/footer_blog.png") no-repeat 0 bottom;
	height: 200px;
}

#footer.o .image {	
	color: #000000;
	background: url("/static/img/footer_o.png") no-repeat 0 bottom;
	height: 136px;
	position: relative;
	margin-bottom: -30px;
}

#footer.e404 .image {	
	color: #000000;
	background: url("/static/img/footer_404.png") no-repeat 0 bottom;
	height: 157px;
	margin-top: 50px;
}

#footer.labs .image {	
	color: #000000;
	background: url("/static/img/footer_labs.png") no-repeat 0 bottom;
	height: 111px;
	margin-top: 50px;
}

#footer .image p {
	display: inline-block;
	text-align: center;
	margin-top:80px;
	width:800px;
	font-size: 12px;
}

#footer .prev, #footer .next {
	position: relative;
	float: left; 
	margin-top: -65px;
}

#footer .prev a, #footer .next a {
	display: inline-block;
    margin: 21px 33px 0;
	font-weight: bold;
	font-size: 18px;
}

#footer .prev a:hover, #footer .next a:hover {
	text-decoration: none;
}

#footer .prev {
	float: left;
}

#footer .next {
	float: right;
}

#footer .prev {
    height: 50px;
	background: url("/static/img/previous.png") no-repeat left bottom;
    background-size: 35px;
}
#footer .next{
    height: 50px;
	background: url("/static/img/forward.png") no-repeat right bottom;
    background-size: 35px;
}

/*---------------------------- 404 ----------------------------*/
#error_img img {
	margin: 20px 0px;
}

#content p.error_title {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

/*---------------------------- Login ----------------------------*/
#login-form-block {
	margin-top: 50px;
	text-align: center;
}

#login-form-block div {
	margin-bottom: 10px;
}

#login-form-block label {
	width: 90px;
	text-align: right;
	display: inline-block;
	padding-right: 5px;
}

/*---------------------------- Share ----------------------------*/
#content .share {
	float: right;
}

#content .share a {
	margin-left: 5px;
}

.share .twitter {
	display: inline-block;
	background: url("/static/img/share/twitter.png") no-repeat;
	width: 20px;
	height: 20px;	
}

.share .google {
	display: inline-block;
	background: url("/static/img/share/google.png") no-repeat;
	width: 20px;
	height: 20px;	
}

.share .facebook {
	display: inline-block;
	background: url("/static/img/share/facebook.png") no-repeat;
	width: 20px;
	height: 20px;	
}

.share .vkontakte {
	display: inline-block;
	background: url("/static/img/share/vk.png") no-repeat;
	width: 20px;
	height: 20px;	
}


/*---------------------------- Scroll ----------------------------*/
.scroll-to-top {
    position: fixed;
    background: #FFCC33;
    opacity: 0.1;
    width: 100px;
    left:0;
    top:0;
    display: none;
    cursor: pointer;
}

.scroll-to-top .icon {
    background: url("/static/img/scroll-up.png") no-repeat;
    width: 50px;
    height: 50px;
    margin: 10px 25px;
}

.scroll-to-top:hover {
    opacity: 1;
}
