{% extends "blog/main.html" %}
{% load i18n markup comments tagging_tags static %}

{% block title %}{{ post.title }}{% endblock %}
{% block content_title %}
    <h2>{{ post.title }}</h2>
{% endblock %}

{% block content %}{% spaceless %}
    <div class="back button"><a href="{% url blog.views.post_list %}">{% trans "Back to the past" %}</a></div>
    <div id="post">
    	<div class="title">
    		<span>{{ post.title|slice:"0:1" }}</span>{{ post.title|slice:"1:" }}
    		<div class='share'>
    			<a target="_blank" href="http://vkontakte.ru/share.php?url=http://tedor.kr.ua{% url blog_post_detail post.slug %}" class="vkontakte" title="{% trans "Share in Vkontakte" %}"></a>
                <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://tedor.kr.ua{% url blog_post_detail post.slug %}" class="facebook" title="{% trans "Share in Facebook" %}"></a>
                <a target="_blank" href="https://plus.google.com/share?url=http://tedor.kr.ua{% url blog_post_detail post.slug %}&text={{post.title|urlencode}}&via=tedorinet" class="google" title="{% trans "Share in Google+" %}"></a>                
                <a target="_blank" href="http://twitter.com/share?url=http://tedor.kr.ua{% url blog_post_detail post.slug %}&text={{post.title|urlencode}}&via=tedorinet" class="twitter" title="{% trans "Share in Twitter" %}"></a>
            </div>
    	</div>
    	<div class="title fixed" style="display:none;">
    		<span>{{ post.title|slice:"0:1" }}</span>{{ post.title|slice:"1:" }}
    		<a href="javascript:void(0)" title="{% trans 'Move top' %}" class="move-top">&uarr;</a>
    		<a href="javascript:void(0)" title="{% trans 'Add comment' %}" class="add-comment"></a>
    		<div class='share'>
    			<a target="_blank" href="http://vkontakte.ru/share.php?url=http://tedor.kr.ua{% url blog_post_detail post.slug %}" class="vkontakte" title="{% trans "Share in Vkontakte" %}"></a>
                <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://tedor.kr.ua{% url blog_post_detail post.slug %}" class="facebook" title="{% trans "Share in Facebook" %}"></a>
                <a target="_blank" href="https://plus.google.com/share?url=http://tedor.kr.ua{% url blog_post_detail post.slug %}&text={{post.title|urlencode}}&via=tedorinet" class="google" title="{% trans "Share in Google+" %}"></a>                
                <a target="_blank" href="http://twitter.com/share?url=http://tedor.kr.ua{% url blog_post_detail post.slug %}&text={{post.title|urlencode}}&via=tedorinet" class="twitter" title="{% trans "Share in Twitter" %}"></a>
            </div>
    	</div>
        <div class="content">{% endspaceless %}{{ post.get_text|markdown:"codehilite" }}{% spaceless %}</div>
        <div class="tags">
	        {% tags_for_object post as tags %}
	        {% for tag in tags %}
				{% if tag %}
					<a href="{% url post_list_by_tag tag %}">{{ tag }}{% if not forloop.last %},{% endif %}</a>
				{% endif %}
			{% endfor %}
		</div>
    </div>
    
    <div id="comment-list">
    	{% render_comment_list for post %}
    </div>
    <div id="comment-box">
    	{% render_comment_form for post %}
    </div>
{% endspaceless %}{% endblock %}